name: e2e-test
on:
  pull_request:
    branches: main

permissions:
  pull-requests: write
  issues: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: refs/remote/origin/${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - run: git fetch origin
      - uses: ./
        id: titles
        with:
          from: origin/${{ github.event.pull_request.head.ref }}
          to: origin/${{ github.event.pull_request.base.ref }}
          format: "- {title} #{number}"
          reverse: true

      - uses: at-wat/setup-gh-pr-comment@v0
      - name: Post comment
        run: gh-pr-comment "Commits" "${{ steps.titles.outputs.titles }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
